body {
  width: 300px;
  height: 75px;
  background: #313131 !important;
}
select {
  background: #6666;
  color: lime;
  border: 0px;
  margin-left: 5px;
}
button {
  height: 20px;
  width: 20px;
  outline: none;
}
.volume-slider {
  width: 85%;
}
.player-panel {
  margin-top: 15px;
  margin-left: 30px;
}
.btn {
  margin-left: 15px;
  background: #6666;
  color: lime;
  border: 0px;
  transition-duration: 0.7s;
}
.btn:hover {
  background: #12750d;
}
.support {
  position: fixed;
  bottom: 5%;
  right: 5%;
  color: lime;
}
a {
  color: lime;
}
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 10px;
  /* Specified height */
  background: #6666;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  margin-top: 10px;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 10px;
  /* Set a specific slider handle width */
  height: 10px;
  /* Slider handle height */
  background: lime;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
